/*
Gurnek Singh
CSS file for dataset assigment
11/15/21
 */
#backGround{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    background-image: url("../gamespic.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
}
#header,#details,#Facts{
    text-align: center;
    border: 10px ridge white;
    background-color: lightblue;
    padding: 15px;
}
#contentContainer{
    width: 500px;
}
#header{
    border-radius: 14px 14px 0px 0px ;
}
#Facts{
    border-radius: 0px 0px 14px 14px;
}